
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  width:600px;
  border:1px solid black;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:2rem;
  font-family: "Roboto", sans-serif;
  /* background:rgb(74,21,75); */
  background:url('/pexels-fwstudio-129728.jpg');
  /* color:white */
}

button {
  border:0;
  background:none;
  cursor:pointer;
  height:25px;
  width:100px;
  border:1px solid black;
  font-size:1.25rem;
}

textarea {
  height:75px;
  width:350px;
  padding:0.5rem;
  border:2px solid gray;
  border-radius:5px;
}

input {
  width:350px;
  height:30px;
  border:2px solid gray;
  border-radius:5px;
}

h1 {
  font-size:2.5rem;
  text-align: center;
  margin-bottom:1rem;
}

label {
  font-weight:700;
  font-style: italic;
  font-size:1.3rem;
  font-weight: bold;
  border-radius:5px;
}

#main-form {
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:1rem;
}

.form-buttons {
  display:flex;
  width:100%;
  justify-content: space-around;
  margin-top:1rem;
}

.send-button {
  background:greenyellow;
}

.clear-button {
  background:red;
}